<h1>Edit topic</h1>
	
<%= form_for(@topic) do |f| %>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>   
  </div>
  <div class="field">
		<%= f.label "Description" %><br />
    <%= f.text_area :description, rows: 4 %>
  </div>
  <div class="field">
    <%= f.label "Pro Field Heading" %><br />
    <%= f.text_field :pro_fieldname %>   
  </div>
  <div class="field">
    <%= f.label "Con Field Heading" %><br />
    <%= f.text_field :con_fieldname %>   
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>