<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %> | Reputation: <%= @rep %>
      </h1>
      <%= render 'follow_form' if signed_in? %>

		<% unless @user.topics.empty? %>
	      <table class="topics" summary="User topics">
	        <% (@user.topics).each do |i| %>
				<% unless i.is_anon? %>
					<%= render i %>					
				<%	end %>
			<% end %>
	      </table>
	    <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
			<% temp = root_url.chop + user_path(@user)%>
      <strong>URL</strong>  <%= link_to temp, @user %><br />
	  <strong>Topics</strong> <%= @user.topics.count %>	
    </td>
  </tr>
</table>